/* src/index.css */
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    /* Fondo negro mate */
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Opcional: Para que los enlaces no se vean azules oscuros */
a {
    color: #90caf9;
    text-decoration: none;
}